#alert_popover {
  display: block;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.wrapper {
  display: table-cell;
  vertical-align: bottom;
  bottom: auto;
  left: 200px;
}

.alert_default {
  columns: #333333;
  background-color: #ff22ff;
  border-color: #cccccc;
}
